body {
      background-color: #f8f9fa;
    }
    .card {
      margin-bottom: 20px;
      align-items: left;
      border: 1px solid #ddd;
      border-radius: 15px;        
      box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    }
    

  .mails{
    padding-left: 10px;
    margin-bottom: 0px;

}
.image{
    border-radius: 50px;
    align-self: start;
    margin: 20px;
    align-items: left;
    
}
.align-items-center {
  align-items: center;
}
