body{
    margin: 10;
    font-family: "Times New Roman";
    background-color: white;
}

.container{
    width: 200px;
    margin: 100px auto;
    background-color: whitesmoke;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    text-align: center;
}

.title{
    margin-bottom: 20px;
}
.form{
    text-align: left;
}

.label{
    display:block;
    margin-top: 10px;
}
.input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
}
.btn{
   display: block;
   width: 50%; 
   margin: 20% auto;
   padding: 10px;
   background-color: blue;
   color: white;
   text-align: center;
   border-radius: 5px;
    text-decoration: none;


}
.text{
    margin-top: 15px;
}

.link{
    color: blue;
    text-decoration: noneS;

}
